parametersSchema:
	laragraph: structure([
		output: schema(string())
	])

parameters:
	laragraph:
		output: %currentWorkingDirectory%/laragraph.sqlite

services:
	-
		class: Laragraph\Collectors\CallEdgeCollector
		tags:
			- phpstan.collector

	-
		class: Laragraph\Collectors\StaticCallEdgeCollector
		tags:
			- phpstan.collector

	-
		class: Laragraph\Collectors\NewEdgeCollector
		tags:
			- phpstan.collector

	-
		class: Laragraph\Collectors\DispatchFuncCollector
		tags:
			- phpstan.collector

	-
		class: Laragraph\Collectors\DispatchStaticCollector
		tags:
			- phpstan.collector

	-
		class: Laragraph\Rules\GraphSinkRule
		arguments:
			outputPath: %laragraph.output%
		tags:
			- phpstan.rules.rule
